/* .app-category-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.app-category-list > ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 
}
.app-category-list > ul > li{
    position: relative;
    max-width: 270px;
    width: 100%;
    margin: 10px;
    margin: 10px;
    background-color: #f7f6f6;
    padding: 20px;
}

.app-category-list>ul>li>a{
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 10px;
}
.app-category-list a{
    color: #7f7f7f;
}
.app-category-list a:hover{
    text-decoration: none;
    color: #62a5a1;
}
.app-category-list ul ul{
    padding-top: 10px;
    border-top: solid 1px #e5e5e5;
}*/

.app-category-list > ul > li > a{
    font-size: 18px;
}
.app-category-list ul ul li{
    padding-bottom: 5px;
    padding-left: 10px;
} 
