body{
    font-size: 16px;
}
.app-wrapper{
    min-height: -webkit-calc(100vh - 187px);
    min-height: calc(100vh - 125px);
    padding: 20px 0;
}
h1{
    margin-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 3px;
    text-align: center;
}
h1{
    color: #62a5a1;
}
h1 span{
    position: relative;
}

@media (min-width: 992px) {
    h1 span:before,
    h1 span:after{
        content: '';
        position: absolute;
        width: 60px;
        height: 2px;
        background: #62a5a1;
        top:50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); 
    }
    h1 span:before{
        left: -70px;
    }
    h1 span:after{
        right: -70px;
    }
}
a, a:hover{
    text-decoration: none;
    color: #62a5a1;
}
img{
    max-width: 100%;
    height: 100%;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}