.app-header {
    padding: 10px 0;
    background-color: #f1f1f1;
    border-bottom: solid 2px #000;
    text-align: center;
}
.logo a{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 5px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
.logo a:hover{
    color: #000;
}